// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.delete-btn{
    -webkit-appearance: none;
    background-color:
        transparent;
    border: none;
    position: absolute;
    right: 0;
    color:
        green;
}

.buttons-span{
    position: absolute;
    right: 9px;
}
span.buttons-span span:first-child{
   margin-right: 12px;
}

span.buttons-span span:first-child a{
    color: #6f36a8;
}
span.buttons-span span:last-child a{
    color: #abb561;
}
span.product-header-title{
    color: #5b1133;
    text-decoration: underline;
    font-weight: bold;

}
a.remove-option{
    color: #6f762e;
}

a.activate-image-upload{
display: block;

}
a.activate-image-upload:hover{

}
.image-card-upload img{


}
.image-card-upload .card-body i{
 font-size: xxx-large;
}
.image-card-upload a.remove-image-upload{
    font-size: 2rem;
    color: red;
    position: absolute;
    right: 15px;
    z-index: 99999;

}




input.image-file-upload{
display: none;
}
